In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# getting the ticker data from a csv file
def ticker_df_from_csv(path,ticker):
    df = pd.read_csv(path+ticker+".csv",index_col=0)
    return df

# Look at pandas documentations for computing moving averages

# Change in Closing Data

In [ ]:
# compute the rolling difference between the last two closing prices
def compute_change_in_closing(df):
    df['Change'] = df['Closing'].rolling(window=2).apply(lambda x: x.iloc[1] - x.iloc[0])
    df['Gain'] = np.where(df['Change'] > 0, df['Change'], 0) # gains in their own column
    df['Loss'] = np.where(df['Change'] < 0, abs(df['Change']), 0) # loses in their own columns
    return df

# Bollinger Bands

In [3]:
def bollinger_bands(df):
    df['bol_middle_band'] = df['Close'].rolling(window=20)
    df['bol_upper_band'] = df['bol_middle_band'] + 1.96 * df['Close'].rolling(window=20).std()
    df['bol_lower_band'] = df['bol_middle_band'] - 1.96 * df['Close'].rolling(window=20).std()
    return df

# RSI

In [ ]:
def rsi(df):
    # need to compute the initial RSI value since we require 14 days worth of data
    df['rsi'] = 100 - 100 / (1 + ((df['Gain'].rolling(14).sum()/14)/(df['Loss'].rolling(14).sum()/14)))
    pass

# Exponential Moving Average

In [ ]:
def exp_moving_avg():
    pass

# Momentum

In [ ]:
def momentum():
    pass

# Rate of Change

In [ ]:
def roc():
    pass

# Time Series Forecast

In [6]:
def tsf():
    pass

In [10]:
record = {
    'Change' : [-1,2,3,4,-6,7,8]
}
df = pd.DataFrame(record)
df

   Change
0      -1
1       2
2       3
3       4
4      -6
5       7
6       8

In [27]:
df['new'] = np.where(df['Change'] < 0, abs(df['Change']),0)
df

   Change  new
0      -1    1
1       2    0
2       3    0
3       4    0
4      -6    6
5       7    0
6       8    0